<div v-for="(product, i) in inventory" :key="product.id">
    <img src="" alt="">
    <h2>{{ product.name }}</h2>
    <h3>{{ product.price }}</h3>
    <p></p>
    <p></p>
</div>

<script>
    import ProductDataService from '@/services/ProductDataService'
    export default {
        props: ['removeInventory', 'inventory', 'remove', 'updateInventory'],
        data () {
            return {
                message: null, 
                submitted: false, 
                product: {},
                id: parseInt(this.$route.params.id)
            }
        },
        methods: {
            updateProduct () {
                ProductDataService.update(this.id, this.product)
                .then(response => {
                    this.updateInventory(this.productIndex, this.product)
                    this.submitted = true
                    this.message = response.data.message
                })
            },
            deleteProduct () {
                ProductDataService.delete(this.id)
                    .then(response => {
                        this.removeInventory(this.productIndex)
                        this.remove(this.product.name)
                        this.$router.push({ name: 'home' })
                    })
            }
        },
        computed: {
            productIndex () {
                const index = this.inventory.findIndex((p) => {
                    return p.id === this.id
                })
                return index 
            }
        },
        mounted () {
            ProductDataService.get(this.id)
                .then(response => {
                    this.product = response.data
                })
        }
    }
</script>